version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx-gateway
    mem_limit: "512m"
    ports:
      - "${NGINX_PORT}:${NGINX_PORT}"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - authen-service
      - rela-service
    networks:
      - auth-net
    env_file:
      - .env

  postgres:
    image: postgres:13
    container_name: postgres
    mem_limit: "1g"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    networks:
      - auth-net
    env_file:
      - .env

  redis:
    image: redis:6.2
    container_name: auth-redis
    mem_limit: "512m"
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - auth-net
    env_file:
      - .env

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.5
    container_name: auth-zookeeper
    mem_limit: "512m"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - auth-net

  kafka:
    image: confluentinc/cp-kafka:7.7.5
    container_name: auth-kafka
    mem_limit: "1g"
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: auth-zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://auth-kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - auth-net
    volumes:
      - kafka_data:/var/lib/kafka/data
    env_file:
      - .env

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    mem_limit: "512m"
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
    depends_on:
      - kafka
    networks:
      - auth-net
    env_file:
      - .env

  email-service:
    build:
      context: ./emailservice
    image: datnv4-email-service:latest
    container_name: email-service
    mem_limit: "512m"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      SPRING_MAIL_HOST: ${EMAIL_HOST}
      SPRING_MAIL_PORT: ${EMAIL_PORT}
      SPRING_MAIL_USERNAME: ${EMAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${EMAIL_PASSWORD}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: true
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
    depends_on:
      - kafka
    networks:
      - auth-net
    env_file:
      - .env

  otp-service:
    build:
      context: ./otpservice
    image: datnv4-otp-service:latest
    container_name: otp-service
    mem_limit: "512m"
    ports:
      - "${OTP_PORT}:${OTP_PORT}"
    environment:
      SPRING_REDIS_HOST: ${REDIS_HOST}
      SPRING_REDIS_PORT: ${REDIS_PORT}
      SERVER_PORT: ${OTP_HTTP_PORT}
      GRPC_PORT: ${OTP_PORT}
    depends_on:
      - redis
      - otel-collector
    networks:
      - auth-net
    env_file:
      - .env

  token-service:
    build:
      context: ./tokenservice
    image: datnv4-token-service:latest
    container_name: token-service
    mem_limit: "512m"
    ports:
      - "${TOKEN_HTTP_PORT}:${TOKEN_HTTP_PORT}"
      - "${TOKEN_GRPC_PORT}:${TOKEN_GRPC_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_REDIS_HOST: ${REDIS_HOST}
      SPRING_REDIS_PORT: ${REDIS_PORT}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      SERVER_PORT: ${TOKEN_HTTP_PORT}
      GRPC_PORT: ${TOKEN_GRPC_PORT}
    depends_on:
      - postgres
      - redis
      - otel-collector
    networks:
      - auth-net
    env_file:
      - .env

  authzmw-service:
    build:
      context: ./authzmw
    image: datnv4-authzmw-service:latest
    container_name: authzmw-service
    mem_limit: "512m"
    ports:
      - "${AUTHZMW_HTTP_PORT}:${AUTHZMW_HTTP_PORT}"
      - "${AUTHZMW_GRPC_PORT}:${AUTHZMW_GRPC_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_PORT: ${AUTHZMW_HTTP_PORT}
      GRPC_PORT: ${AUTHZMW_GRPC_PORT}
    depends_on:
      - postgres
    networks:
      - auth-net
    env_file:
      - .env

  authen-service:
    build:
      context: ./authenservice
    image: datnv4-authen-service:latest
    container_name: authen-service
    mem_limit: "2g"
    ports:
      - "${AUTHEN_PORT}:${AUTHEN_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_REDIS_HOST: ${REDIS_HOST}
      SPRING_REDIS_PORT: ${REDIS_PORT}
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      SERVER_PORT: ${AUTHEN_PORT}
      OTEL_METRICS_EXEMPLAR_FILTER: "none"
      OTEL_INSTRUMENTATION_COMMON_DEFAULT_ENABLED: "false"
      OTEL_INSTRUMENTATION_JDBC_ENABLED: "false"
      OTEL_INSTRUMENTATION_HTTP_ENABLED: "false"
      OTEL_INSTRUMENTATION_SPRING_WEB_ENABLED: "false"
      OTEL_INSTRUMENTATION_KAFKA_ENABLED: "false"
    depends_on:
      - postgres
      - redis
      - kafka
      - otp-service
      - token-service
      - authzmw-service
    networks:
      - auth-net
    env_file:
      - .env

  admin-service:
    build:
      context: ./adminservice
    image: datnv4-admin-service:latest
    container_name: admin-service
    mem_limit: "512m"
    ports:
      - "${ADMIN_PORT}:${ADMIN_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_PORT: ${ADMIN_PORT}
    depends_on:
      - postgres
      - authzmw-service
      - token-service
    networks:
      - auth-net
    env_file:
      - .env

  user-service:
    build:
      context: ./userservice
    image: datnv4-user-service:latest
    container_name: user-service
    mem_limit: "512m"
    ports:
      - "${USER_PORT}:${USER_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_PORT: ${USER_PORT}
    depends_on:
      - postgres
      - authzmw-service
      - token-service
    networks:
      - auth-net
    env_file:
      - .env

  rela-service:
    build:
      context: ./relaservice
    image: datnv4-rela-service:latest
    container_name: rela-service
    mem_limit: "512m"
    ports:
      - "${RELA_PORT}:${RELA_PORT}"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_PORT: ${RELA_PORT}
    depends_on:
      - postgres
      - token-service
    networks:
      - auth-net
    env_file:
      - .env

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.86.0
    container_name: otel-collector
    mem_limit: "512m"
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    command: ["--config", "/etc/otel-collector-config.yml"]
    ports:
      - "4317:4317"
      - "4318:4318"
      - "1399:1399"
    depends_on:
      - loki
    networks:
      - auth-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    mem_limit: "512m"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "${PROMETHEUS_PORT}:9090"
    depends_on:
      - otel-collector
    networks:
      - auth-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env

  grafana:
    image: grafana/grafana:11.2.8
    container_name: grafana
    mem_limit: "512m"
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=${EMAIL_HOST}:${EMAIL_PORT}
      - GF_SMTP_USER=${EMAIL_USERNAME}
      - GF_SMTP_PASSWORD=${EMAIL_PASSWORD}
      - GF_SMTP_FROM_ADDRESS=${EMAIL_USERNAME}
      - GF_SMTP_FROM_NAME=Grafana
      - GF_SMTP_SKIP_VERIFY=true
      - GF_SMTP_STARTTLS_POLICY=OpportunisticStartTLS
      - GF_ALERTING_ENABLED=true
      - GF_SMTP_TIMEOUT=30
    depends_on:
      - prometheus
    networks:
      - auth-net
      - default
    env_file:
      - .env

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    mem_limit: "512m"
    command: -config.file=/etc/loki/local-config.yaml -config.expand-env=true
    ports:
      - "${LOKI_PORT}:${LOKI_PORT}"
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yaml
      - loki_data:/loki
    environment:
      - LOKI_PORT=${LOKI_PORT}
    networks:
      - auth-net
    env_file:
      - .env
    user: "0"

volumes:
  postgres_data:
  kafka_data:
  loki_data:

networks:
  auth-net:
    driver: bridge
